
h1, h2, h3, h4, h5, h6 {
    position:relative !important;

    color: wheat;
    text-align: center;
}
#maintitle {
    font-size: 4rem !important;
    top: 4.5rem !important;
    margin: auto;
    
}
#undermain {
    font-size: 4rem !important;
    top: 3.5rem !important;
    margin: auto;
    left: 3.5rem;
}



html {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: hidden; /* Hide scrollbars */
    margin: 0;
}