.navbarbarul {
    top: 25vh;
    position:relative;
    right: 94vh;
    width: 3vw;
    height: 50vh;
    background-color: rgb(169, 169, 169);
    margin: 0 auto;
}
.narbarbarulimglogo {
    aspect-ratio: 1 !important;
    width: 3.5vw !important;
    height: 3.5vw !important;
    top: 2.5vh !important;
    position:relative !important;
    left: -1.1vw !important;
    width: 3.5vw !important;
    margin: 0 auto !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
@keyframes narbarextend {
    from {
        width: 3vw;
    }
    to {
        width: 5vw;
    }
    200% {
        width: 3vw;
    }
}
.navbarbarul:hover {
    animation: narbarextend 0.5 infinite;
}

